.contact {
  padding: 120px 15px;
}

.contact-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  display: flex;
  justify-content: space-between;
}

.contact-map {
  margin-right: 15px;
  width: 560px;
  min-height: 306px;
  height: auto;
  background-image: url("../img/map@1x.png");
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .contact-map {
    background-image: url("../img/map@2x.png");
  }
}

.contact-content {
  padding-top: 75px;
  max-width: 500px;
}

.contact-content p {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.contact-list {
  margin: 0;
  padding: 0;
  padding-left: 28px;
  list-style: none;
}

.contact-item {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -28px;
  }
}

.contact-icon-label::before {
  top: -1px;
  width: 18px;
  height: 22px;
  background-image: url("../img/label.svg");
  background-size: 18px 22px;
}

.contact-icon-phone::before {
  top: 2px;
  width: 18px;
  height: 18px;
  background-image: url("../img/phone.svg");
  background-size: 18px 18px;
}

.contact-phone {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: $black;
  outline: none;
}

.contact-phone:hover,
.contact-phone:focus {
  opacity: 0.7;
}

.contact-phone:active {
  opacity: 0.5;
}

@media (max-width: $laptop-width) {
  .contact {
    padding: 100px 45px;
  }

  .contact-map {
    margin-right: 0;
    max-width: calc(50% - 15px);
    min-height: 335px;
    height: auto;
    background-image: url("../img/map-lap@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .contact-map {
      background-image: url("../img/map-lap@2x.png");
    }
  }

  .contact-content {
    padding-top: 65px;
    max-width: calc(50% - 15px);
  }

  .contact-content p {
    margin-bottom: 29px;
  }

  .contact-icon-label::before {
    top: 4px;
  }
}

@media (max-width: $mobile-width) {
  .contact {
    padding: 58px 15px 65px;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-map {
    width: 100%;
    max-width: 100%;
    min-height: 316px;
    background-image: url("../img/map-mob@1x.png");
    order: 1;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .contact-map {
      background-image: url("../img/map-mob@2x.png");
    }
  }

  .contact-content {
    margin-bottom: 15px;
    padding-top: 0;
    max-width: 100%;
  }
}
