.cruise {
  padding: 110px 0 90px;
}

.cruise-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $desktop-width;
  box-sizing: border-box;
}

.cruise h2 {
  margin: 0;
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

.cruise-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cruise-item {
  margin-right: 2.65%;
  margin-bottom: 30px;
  width: 23%;
}

.cruise-item:nth-child(4n) {
  margin-right: 0;
}

.cruise-link {
  display: block;
  height: 386px;
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  position: relative;
}

.cruise-link__cover {
  position: absolute;
  left: 0;
  top: 0;
  padding: 70px 25px 35px;
  display: none;
  background-color: $black;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.cruise-item h3 {
  margin: 0;
  position: absolute;
  left: 30px;
  bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $white;
  z-index: 2;
}

.cruise-link__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cruise-link__item {
  margin-bottom: 12px;
}

.cruise-item h4 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $white;
}

.cruise-item p {
  margin: 0;
  font-size: 14px;
  line-height: 140%;
  color: $grey;
}

.cruise-astoria {
  background-image: url("../img/astoria@1x.jpg");
}

.cruise-elain {
  background-image: url("../img/astoria@1x.jpg");
}

.cruise-atlantis {
  background-image: url("../img/atlantis@1x.jpg");
}

.cruise-odyssey {
  background-image: url("../img/odyssey@1x.jpg");
}

.cruise-olimpia {
  background-image: url("../img/olimpia@1x.jpg");
}

.cruise-avrora {
  background-image: url("../img/avrora@1x.jpg");
}

.cruise-leonor {
  background-image: url("../img/leonor@1x.jpg");
}

.cruise-minion {
  background-image: url("../img/minion@1x.jpg");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .cruise-astoria {
    background-image: url("../img/astoria@2x.jpg");
  }

  .cruise-elain {
    background-image: url("../img/astoria@2x.jpg");
  }

  .cruise-atlantis {
    background-image: url("../img/atlantis@2x.jpg");
  }

  .cruise-odyssey {
    background-image: url("../img/odyssey@2x.jpg");
  }

  .cruise-olimpia {
    background-image: url("../img/olimpia@2x.jpg");
  }

  .cruise-avrora {
    background-image: url("../img/avrora@2x.jpg");
  }

  .cruise-leonor {
    background-image: url("../img/leonor@2x.jpg");
  }

  .cruise-minion {
    background-image: url("../img/minion@2x.jpg");
  }
}

.cruise-link:hover .cruise-link__cover,
.cruise-link:focus .cruise-link__cover {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cruise-link:hover h3,
.cruise-link:focus h3 {
  top: 30px;
  left: 25px;
  bottom: auto;
}

.cruise-link__button {
  padding: 10px;
  display: block;
  background-color: $white;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.cruise-link__button:hover,
.cruise-link__button:focus {
  opacity: 0.7;
}

.cruise-link__button:active {
  opacity: 0.5;
}

@media (max-width: $laptop-width) {
  .cruise {
    padding: 89px 0 70px;
  }

  .cruise-wrapper {
    padding: 0 60px;
  }

  .cruise h2 {
    font-size: 26px;
  }

  .cruise-list {
    justify-content: space-between;
  }

  .cruise-item {
    margin-right: 0;
    width: calc(50% - 15px);
  }

  .cruise-item h3 {
    left: 35px;
    bottom: 27px;
  }

  .cruise-link:hover h3,
  .cruise-link:focus h3 {
    left: 35px;
  }

  .cruise-link__cover {
    padding: 70px 35px 35px;
  }

  .cruise-astoria {
    background-image: url("../img/astoria-lap@1x.jpg");
  }

  .cruise-elain {
    background-image: url("../img/astoria-lap@1x.jpg");
  }

  .cruise-atlantis {
    background-image: url("../img/atlantis-lap@1x.jpg");
  }

  .cruise-odyssey {
    background-image: url("../img/odyssey-lap@1x.jpg");
  }

  .cruise-olimpia {
    background-image: url("../img/olimpia-lap@1x.jpg");
  }

  .cruise-avrora {
    background-image: url("../img/avrora-lap@1x.jpg");
  }

  .cruise-leonor {
    background-image: url("../img/leonor-lap@1x.jpg");
  }

  .cruise-minion {
    background-image: url("../img/minion-lap@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .cruise-astoria {
      background-image: url("../img/astoria-lap@2x.jpg");
    }

    .cruise-elain {
      background-image: url("../img/astoria-lap@2x.jpg");
    }

    .cruise-atlantis {
      background-image: url("../img/atlantis-lap@2x.jpg");
    }

    .cruise-odyssey {
      background-image: url("../img/odyssey-lap@2x.jpg");
    }

    .cruise-olimpia {
      background-image: url("../img/olimpia-lap@2x.jpg");
    }

    .cruise-avrora {
      background-image: url("../img/avrora-lap@2x.jpg");
    }

    .cruise-leonor {
      background-image: url("../img/leonor-lap@2x.jpg");
    }

    .cruise-minion {
      background-image: url("../img/minion-lap@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .cruise {
    padding: 57px 0 35px;
  }

  .cruise-wrapper {
    padding: 0 25px;
  }

  .cruise h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .cruise-list {
    display: block;
  }

  .cruise-item {
    width: 100%;
  }

  .cruise-item h3 {
    left: 25px;
    bottom: 17px;
  }

  .cruise-link:hover h3,
  .cruise-link:focus h3 {
    left: 25px;
  }

  .cruise-astoria {
    background-image: url("../img/astoria-mob@1x.jpg");
  }

  .cruise-elain {
    background-image: url("../img/astoria-mob@1x.jpg");
  }

  .cruise-atlantis {
    background-image: url("../img/atlantis-mob@1x.jpg");
  }

  .cruise-odyssey {
    background-image: url("../img/odyssey-mob@1x.jpg");
  }

  .cruise-olimpia {
    background-image: url("../img/olimpia-mob@1x.jpg");
  }

  .cruise-avrora {
    background-image: url("../img/avrora-mob@1x.jpg");
  }

  .cruise-leonor {
    background-image: url("../img/leonor-mob@1x.jpg");
  }

  .cruise-minion {
    background-image: url("../img/minion-mob@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .cruise-astoria {
      background-image: url("../img/astoria-mob@2x.jpg");
    }

    .cruise-elain {
      background-image: url("../img/astoria-mob@2x.jpg");
    }

    .cruise-atlantis {
      background-image: url("../img/atlantis-mob@2x.jpg");
    }

    .cruise-odyssey {
      background-image: url("../img/odyssey-mob@2x.jpg");
    }

    .cruise-olimpia {
      background-image: url("../img/olimpia-mob@2x.jpg");
    }

    .cruise-avrora {
      background-image: url("../img/avrora-mob@2x.jpg");
    }

    .cruise-leonor {
      background-image: url("../img/leonor-mob@2x.jpg");
    }

    .cruise-minion {
      background-image: url("../img/minion-mob@2x.jpg");
    }
  }
}
