.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header__image-on {
  width: 70px;
  height: 38px;
  fill: $white;
}

.logo-image {
  display: block;
  width: 70px;
  height: 38px;
  fill: $white;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-right: 36px;
}

.navigation-item:last-of-type {
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.7;
}

.navigation-link:active {
  opacity: 0.5;
}

.header__toggle-on {
  display: none;
}

.header-toggle {
  display: none;
}

@media (max-width: $laptop-width) {
  .logo-image {
    width: 38px;
    height: 20px;
  }

  .header-wrapper {
    padding: 30px;
  }

  .navigation-item {
    margin-right: 26px;
  }

  .navigation-link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .header__on {
    position: relative;
  }

  .logo-image {
    width: 42px;
    height: 22px;
    fill: $white;
  }

  .header__image-on {
    width: 42px;
    height: 22px;
    fill: $black;
  }

  .header-wrapper {
    display: block;
    padding: 20px 0 40px;
  }

  .header-menu {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .header-toggle {
    display: block;
    position: relative;
    width: 24px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $white;
      box-shadow: 0 6px 0 0 $white, 0 12px 0 0 $white;
    }
  }

  .navigation-off {
    display: none;
  }

  .header__toggle-on {
    display: block;
    position: relative;
    width: 13px;
    height: 13px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $black;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .navigation-list {
    padding: 6px 0 5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-item {
    margin-right: 0;
    margin-bottom: 21px;
    color: $black;
  }

  .navigation-link {
    font-size: 18px;
    line-height: 22px;
    color: $black;
  }
}
