$white: #f9fbfd;
$black: #011c40;
$grey: #d8d8d9;
$montserrat: "Montserrat", "Arial", sans-serif;
$desktop-width: 1160px;
$laptop-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
